In [5]:
import pandas as pd

df = pd.read_csv('./EasyVisa.csv')
print(df.shape)

(25480, 12)

In [6]:
df = df.to_dict(orient = 'records')

In [9]:
len(df)

25480

In [11]:
from pymongo import MongoClient
import os

client = MongoClient(os.getenv('MONGO_URI'))
db = client['CheckMyVisaDB']
collection = db['VisaData']

result = collection.insert_many(df)

In [12]:
df = pd.DataFrame(collection.find({}))
df.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,6934496942367016e3eebcbc,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,6934496942367016e3eebcbd,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,6934496942367016e3eebcbe,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,6934496942367016e3eebcbf,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,6934496942367016e3eebcc0,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified